/* Estilização da header */

.navBarLogo{
    width: 250px;
}


.shadowHeader{
    box-shadow: 0px 10px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Estilização da main */

.body{
    background-color:#b9d79b;
}

.sizeDiv{
    width:50%;
}

.spaceBetweenLines{
    line-height: 2;
}

.borderCarousel{
    border-bottom: solid 3px white;
}

.chosenFontFamily{
    
    font-family: 'Montserrat', sans-serif;
}

.imgCarousel{
    height: 600px;
    object-fit: cover;
}

.map{
    width: 60vw;
    height: 50vh;
}

.modalText{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.juliaPic{
    width: 100%;
    max-width: 450px;
    height: auto;
}

.textAbout{
    max-width: 55ch;
    font-size: 25px;
    line-height: 4.5rem;
}

.contacts{
    cursor: pointer;
}

.colorDiv{
    background-color: #f8f9fa;
}

.borderDiv{
    border: solid 3px white;
}


.cardWidth{
    width: 30%;
}

.w-90{
    width: 90%;
}

.colorReceitas{
    color: #f7f7f7;
}

.colorBtn{
    color: grey;
}

.ingredients{
    max-width: 20ch;
    text-align: justify;
}

.prepare{
    max-width: 50ch;
    text-align: justify;
}

/* Estilização do footer */

.shadowFooter{
    box-shadow: 0px -10px 8px 0 rgba(0, 0, 0, 0.2);
}

#social{
    width: 30px;
    transition: 1s;
}

#social:hover{
    transform: scale(1.2);
}

#socialOutro{
    width: 30px;
    cursor: context-menu;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa!important;
    padding-left: 5%;
    padding-right: 5%;
}

.footerLogo{
    width: 250px;
}

/* CSS Receitas */

.imgsReceitas{
    width: 20vw;
}

/* Fim CSS Receitas */

/* Visualização Android */

@media (max-width: 1025px){

    /* Visualização Header */

    .navBarLogo{
        width: 200px;
    }

    /* Visualização main */

    .textAbout{
        max-width: 40ch;
        font-size: 21px;
        line-height: 2.0;
        margin-top: 10px;
    }

    .divTextAbout{
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 769px){

    /* Visualização Header */

    .navBarLogo{
        width: 200px;
    }

    /* Visualização main */

    .textAbout{
        max-width: 55ch;
        font-size: 25px;
        line-height: 1.8;
    }
    
    .juliaPic{
        max-width: 570px;
    }

    .textosMedia{
        max-width: 20ch;
        word-wrap:break-word;
        text-align: justify;
    }

    .divTextAbout{
        display: flex;
        justify-content: center;
    }

    /* CSS Receitas */

    .imgsReceitas{
        width: 40vw;
    }

    /* Fim CSS Receitas */

}

@media (max-width: 578px){
    .sizeDiv{
        width:100%;
    }

}



@media (max-width: 520px){
    .imgsDicas{
        margin: 5px auto !important;
        float: none !important;
        display: block !important;

    }

}


@media (max-width: 426px){

    /* Visualização Header */

    .navBarLogo{
        width: 200px;
    }

    /* Visualização main */

    .textAbout{
        max-width: 55ch;
        font-size: 18px;
        line-height: 1.8;
    }
    
    .juliaPic{
        max-width: 400px;
    }

    .sizeDiv{
        width:100%;
    }

    .textosMedia{
        max-width: 15ch;
        word-wrap:break-word;
        text-align: justify;
    }

    .cardWidth{
        width: 100%;
		margin: 3%;
    }

    /* CSS Receitas */

    .imgsReceitas{
        width: 60vw;
        margin:0 auto!important;
    }

    /* Fim CSS Receitas */


}


@media (max-width: 355px){

    /* Visualização Header */

    .navBarLogo{
        width: 200px;
    }

    /* Visualização main */

    .textosMedia{
        max-width: 20ch;
        word-wrap:break-word;
        text-align: justify;
    }

    .sizeDiv{
        width:100%;
    }
}

@media (max-width: 321px){

    .textosMedia{
        max-width: 14ch;
        word-wrap:break-word;
        text-align: justify;
    }

    .map{
        width: 60vw;
        height: 40vh;
    }

}

@media (min-width: 1441px){
    /* Visualização Large */
    #navbarSupportedContent ul{

        padding-right: 100px;
    }

}

/* CSS Dicas */

.card-dicas{
    line-height: 2.0;
}

.imgsDicas{
    width: 30%;
    min-width: 182px;

    max-width: 250px;
}

.imgsDicas{
    min-width: 200px;
}

