.cabecalhoPrincipal .containerCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav{
    display: flex;
    justify-content: space-around;
}

.rodapeConteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}